@charset "UTF-8";

body {
	padding-top: 5rem;
	color: #333;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background: aliceblue;
	font-family: "Roboto", sans-serif;
}

.menu-items {
	margin: 8px;
}

hr {
	border: 1px solid black;
}

span {
	font-size: 22px;
	font-weight: bold;
}

button.mi {
	margin: 16px;
	width: 250px;
	heigth: 250px;
}

.left {
	width: 60%;
	height: 80%; justify-content : center;
	padding: 5%;
	border-right: 1px dotted black;
	display: flex;
	justify-content: center
}

.right1 {
	width: 35%;
	float: right;
}

.modal {
	text-align: center;
}

@media screen and (min-width: 768px) {
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.modal-content {
	width: 500px;
	height: 450px;
	padding: 40px 40px;
}

table {
	border: 3px solid white;
}

form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 5px 50px;
	height: 100%;
}

.label {
	margin-top: 10px;
	font-size: 13px;
	text-align: left;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

/*  */

