<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="PlusOp" class="ex2_1.PlusOp">
		<constructor-arg value="5"></constructor-arg>
		<constructor-arg value="3"></constructor-arg>
	</bean>

	<bean id ="MinusOp" class="ex2_1.MinusOp">
		<constructor-arg value="5"></constructor-arg>
		<constructor-arg value="3"></constructor-arg>
	</bean>
</beans>
